extends baseEmail

block content
    p Hi #{firstName},
        p Verify your email
        p Once verified you will be able to grant access to the logins page
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Verify E-mail
        p If you need any help with booking your next tour, please don't hesitate to contact me!
        p - ZxTox, CEO